section.main-page__last.last
  h2.last__name
    | Последние комментарии
    span.last__icon.last__icon--cloud
  if !lastComments.length
    p.hot__empty Здесь пока ничего нет
  else
    ul.last__list
      each comment in lastComments
        li.last__list-item
          img.last__list-image(src=`/img/${comment.Users.avatar}`, alt=`Аватар пользователя`, width=`20`, height=`20`)
          b.last__list-name #{comment.Users.name}
          a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.truncatedText}
